* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background: white;
}

.cont {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.btn {
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  height: 60px;
  width: 200px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  -webkit-transition: 0.2s background;
  transition: 0.2s background;
}
.btn i {
  margin-right: 10px;
  margin-left: -10px;
}
.btn.float {
  background: #34699A;
  color: white;
  border: 0px;
}
.btn.float:hover {
  background: #3a76ad;
}
.btn.float-dark {
  background: #113F67;
  color: white;
  border: 0px;
}
.btn.float-dark:hover {
  background: #154c7d;
}
.btn.float-white {
  background: white;
  color: #113F67;
  border: 2px solid #113F67;
  -webkit-transition: 0.2s background;
  transition: 0.2s background;
}
.btn.float-white:hover {
  background: #113F67;
  color: white;
}
.btn.push {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 50px;
  background: #34699A;
  border-bottom: 10px solid #113F67;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: white;
  padding-top: 3px;
}
.btn.push:hover {
  margin-top: 3px;
  border-bottom: 7px solid #113F67;
}
.btn.push-dark {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 50px;
  background: #113F67;
  border-bottom: 10px solid #408AB4;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: white;
  padding-top: 3px;
}
.btn.push-dark:hover {
  margin-top: 3px;
  border-bottom: 7px solid #408AB4;
}
.btn.push-white {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 50px;
  background: white;
  border-bottom: 10px solid #113F67;
  border-top: 2px solid #113F67;
  border-left: 2px solid #113F67;
  border-right: 2px solid #113F67;
  color: #113F67;
  padding-top: 3px;
}
.btn.push-white:hover {
  margin-top: 3px;
  border-bottom: 7px solid #113F67;
}

.textBox {
  padding: 20px 20px;
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.textBox h1 {
  font-size: 20px;
}
.textBox h1 i {
  padding-right: 20px;
  padding-bottom: 10px;
}
.textBox p {
  font-size: 18px;
  color: #707070;
  text-align: justify;
  font-weight: 300;
}
.textBox.dark {
  padding: 40px;
  background: #113F67;
}
.textBox.dark h1 {
  color: #65C6C4;
  margin-top: -10px;
  font-size: 35px;
}
.textBox.dark p {
  color: white;
  font-size: 16px;
}
.textBox.white {
  padding: 40px;
  background: white;
}
.textBox.white h1 {
  color: #34699A;
  margin-top: -10px;
  font-size: 35px;
}
.textBox.white p {
  color: #707070;
  font-size: 16px;
}
.textBox.black {
  padding: 40px;
  background: #333333;
}
.textBox.black h1 {
  color: #65C6C4;
  margin-top: -10px;
  font-size: 35px;
}
.textBox.black p {
  color: white;
  font-size: 16px;
}
.textBox.simpleWhite {
  color: white;
}
.textBox.simpleWhite p {
  color: white;
}
.textBox.simpleBlue {
  color: #34699A;
}
.textBox.simpleDark {
  color: #113F67;
}
.textBox.simpleBlack {
  color: #333333;
}
.textBox.lineBlue {
  background: white;
  border-left: 6px solid #34699A;
}
.textBox.lineBlue h1 {
  color: #34699A;
}
.textBox.lineBlue p {
  margin-left: 40px;
}
.textBox.lineDark {
  background: white;
  border-left: 6px solid #113F67;
}
.textBox.lineDark h1 {
  color: #113F67;
}
.textBox.lineDark p {
  margin-left: 40px;
}
.textBox.lineBlack {
  background: white;
  border-left: 6px solid #333333;
}
.textBox.lineBlack h1 {
  color: #333333;
}
.textBox.lineBlack p {
  margin-left: 40px;
}

.title {
  font-size: 34px;
  color: #333333;
  border-bottom: 3px solid #34699A;
  padding-bottom: 7px;
  text-align: center;
}

.hideOnInit {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
}

.ok {
  -webkit-animation: 1s bounce forwards;
          animation: 1s bounce forwards;
}

nav {
  background: #113F67;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
nav .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo {
  color: white;
  font-size: 25px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
nav .logo:hover > .img {
  background: url(/assets/img/logoBlue.svg) center no-repeat /130px  ;
}
nav .logo:hover > p {
  color: #65C6C4;
}
nav .logo .img {
  background: url(/assets/img/logoWhite.svg) center no-repeat /200px  ;
  width: 65px;
  height: 90px;
  margin-right: 10px;
}
nav .menu {
  width: 200px;
  height: 100%;
}
nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
}
nav .menu ul li {
  color: white;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 100%;
  font-weight: bold;
}
nav .menu ul li i {
  margin-right: 10px;
  margin-left: -10px;
}
nav .menu ul li:hover {
  color: #65C6C4;
}

header {
  height: 700px;
  background: url(/assets/img/header.png) no-repeat left 80px bottom 200px/450px, url(/assets/img/white-wave.svg) no-repeat right bottom -2px #34699A;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: visible;
}
@media (max-width: 1200px) {
  header {
    background: Red;
  }
}
header .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  position: relative;
}
header .cont img {
  position: absolute;
  right: 0px;
  bottom: -200px;
  width: 650px;
}
header .welcome {
  width: 700px;
}
header .welcome h1 {
  font-size: 85px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}
header .welcome button {
  margin-top: 40px;
  width: 300px;
}
header .welcome button:focus {
  -webkit-animation: 0.8s rubberBand forwards;
          animation: 0.8s rubberBand forwards;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.Tutorias {
  padding-bottom: 40px;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  background: url(/assets/img/float-boxes.svg) no-repeat, url(/assets/img/pc.png) right 0px bottom no-repeat;
}
section.Tutorias .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.Tutorias .cont .title {
  width: 200px;
}
section.Tutorias .cont .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}
section.Tutorias .cont .boxes .textBox {
  margin-bottom: 40px;
}
section.objective {
  height: 450px;
  background: #F6F6F6;
}
section.objective .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(/assets/img/objectives.png) right 0px bottom no-repeat;
}
section.objective .cont .left {
  height: 100%;
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
}
section.objective .cont .left .textBox {
  width: 100%;
  padding-left: 0px;
}
section.objective .cont .left .textBox p {
  padding-top: 20px;
}
section.objective .cont .left .title {
  border: 0px;
  color: #34699A;
}
section.creditos {
  height: 600px;
}
section.creditos .cont {
  background: url(/assets/img/creditos.png) right center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.creditos .cont .boxes .textBox {
  width: 500px;
  margin-top: 20px;
}
section.creditos .cont .title {
  color: #34699A;
  border: 0px;
  text-align: left;
}

footer {
  background: url(/assets/img/logoBlue.svg) right bottom no-repeat/contain, #34699A;
  height: 300px;
}
