<div class="loader" *ngIf="loading">
  <div class="lds-dual-ring">
      <div class="img">

        </div>
  </div>
</div>
<nav>
<div class="cont">
  <div class="logo">
    <div class="img">

    </div>
    <p>ITNL</p>
  </div>
  <div class="menu">
    <ul>
        <li (click)="ScrollTutorias()">
            <i class="fas fa-info"></i>Ver más
          </li>
      <li (click)="AbrirLogin()">
        <i class="fas fa-user"></i>Login
      </li>
      <li
        (click)="Redirect('http://www.itnuevolaredo.edu.mx/index.php?option=com_content&view=category&layout=blog&id=44&Itemid=50')">
        <i class="fas fa-times-circle"></i>Salir
      </li>
    </ul>
  </div>
</div>
</nav>
<header>
<div class="cont">
  <div class="welcome">
    <h1>¡BIENVENIDO!</h1>
    <p class="txt">Bienvenido al sistema de tutorías, obten todas las herramientas en un solo lugar y con la mayor
      facilidad posible.</p>
    <button class="btn float-dark" (click)="AbrirLogin()">
      <i class="fas fa-sign-in-alt"></i>
      <p>INICIAR SESIÓN</p>
    </button>
  </div>

  <img src='/assets/img/inicio/laptop.png' class="animated forwards bounceInRight fast" />
  <iframe class="frame animated forwards bounceInRight fast"  src="https://www.youtube-nocookie.com/embed/EpjhOw7a58k?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>

</div>
</header>
<section class="Tutorias">
<div class="cont">
  <div class="title lineBlue">

    <h1>TUTORÍAS</h1>
  </div>
  <div class="boxes">
    <div class="textBox lineBlue hideOnInit" animateOnScroll animationName="animated forwards bounceInLeft">
      <h1><i class="fas fa-question-circle"></i>¿QUÉ SON LAS TUTORÍAS?</h1>
      <p>
        La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante
        profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su
        formación integral”.
      </p>
    </div>
    <div class="textBox lineBlue hideOnInit" animateOnScroll animationName="animated forwards bounceInLeft">
      <h1><i class="fas fa-chalkboard-teacher"></i>FUNCIONES DEL TUTORADO</h1>
      <p>
        Identificar sus necesidades personales que requieren de la atención tutorial.
        Asistir puntualmente a las reuniones a que sea convocado por el tutor, a la hora y fecha indicada.
        Reportar en caso que no pudiera asistir a la sesión al tutor, y reportar el motivo que impida la asistencia.
        Recurrir al tutor para efectos de solicitar atención tutorial.
        Aportar la información que le sean sugeridas por el tutor para la satisfacción de sus necesidades.
        Asumir una actitud responsable orientada hacia la autoayuda.
        Participar en las evaluaciones.
      </p>
    </div>
  </div>
</div>
</section>
<section class="objective">
<div class="cont">
  <div class="left">
    <div class="textBox simpleBlue">
      <h1> OBJETIVOS</h1>
      <p>
        Brindar tutoría a todos los alumnos desde el primer semestre; desarrollar las potencialidades del estudiante
        para que alcance un mejor nivel de aprovechamiento a lo largo de su vida escolar; apoyar al estudiante en la
        adquisición de habilidades de autoaprendizaje necesarias para que resuelva
        sus problemas de tipo académico mediante la toma de decisiones autónomas, a fin de consolidar el aprendizaje
        de por vida; identificar y apoyar al estudiante en riesgo de no alcanzar los objetivos propuestos y/o el
        perfil profesional y proponer estrategias de apoyo a su formación; promover en el estudiante el desarrollo
        de valores humanos, sociales, ecológicos, así como actitudes positivas hacia el aprendizaje y los propios de
        la formación profesional; crear espacios y ambientes educativos de confianza que ayuden al alumno en su
        desarrollo académico y personal; contribuir a la disminución de los índices de reprobación y deserción, a
        través del incremento en el rendimiento académico de los estudiantes; incrementar el índice de eficiencia
        terminal en todas las carreras del ITNL.
      </p>
    </div>
  </div>
</div>
</section>
<section class="coord">
<div class="cont">

  <div class="title lineBlue">
    <h1>COORDINACIÓN INSTITUCIONAL DE TUTORÍAS</h1>
  </div>
  <div class="boxes">
    <div class="textBox lineBlue hideOnInit" animateOnScroll animationName="animated forwards bounceInLeft">
      <h1><i class="fas fa-question-circle"></i>¿CUÁL ES SU FUNCIÓN?</h1>
      <p>
        Mantiene una vinculación entre el Comité Promotor y todos los departamentos que ofrecen un servicio al estudiante; así como de dar seguimiento al buen desarrollo de la acción tutorial del ITNL.
      </p>
    </div>
    <div class="textBox lineBlue hideOnInit" animateOnScroll animationName="animated forwards bounceInLeft">
      <h1><i class="fas fa-thumbtack"></i>UBICACIÓN DE LA COORDINACIÓN INSTITUCIONAL DE TUTORÍAS</h1>
      <p>
        Laboratorio de Ingeniería en Sistemas Computacionales, planta alta
      </p>
    </div>
  </div>

  
</div>
</section>

<section class="creditos">
<div class="cont">

  <div class="title lineBlue">
    <h1>CRÉDITOS</h1>
  </div>

  <div class="boxes">
    <div class="textBox blue">
      <h1><i class="fas fa-user-circle"></i>Felipe G.</h1>
      <p> Programador, enmaquetador y diseñador web </p>
    </div>
    <div class="textBox blue">
      <h1><i class="fas fa-user-circle"></i>Jessica G.</h1>
      <p> Diseñadora y administradora de contenidos</p>
    </div>
    <div class="textBox blue ">
      <h1><i class="fas fa-user-circle"></i>Emmanuel V.</h1>
      <p> Administrador de la base de datos </p>
    </div>
    <div class="textBox blue">
      <h1><i class="fas fa-user-circle"></i>Oswaldo R.</h1>
      <p> Tester </p>
    </div>
  </div>
</div>
</section>

<footer>
<div class="footer">
  <h2>ST CMS By: Juan Felipe G. S.</h2>
</div>
</footer>
<app-login *ngIf="Login" (CloseEvent)="Login=$event" (RegistroEvent)="AbrirRegistro()"  #login>

</app-login>

