<div style="display: flex; flex-direction:column; width:200px; margin-left:50px">
    <h1>Buttons</h1>
    <button class="btn float-dark">
        <i class="fas fa-flag"></i><p>Button</p>
    </button>
    <button class="btn float">
        <i class="fas fa-flag"></i><p>Button</p>
    </button>
    <button class="btn float-white">
        <i class="fas fa-flag"></i><p>Button</p>
    </button>
    <button class="btn push">
        <i class="fas fa-flag"></i><p>Button</p>
    </button>
    <button class="btn push-dark">
        <i class="fas fa-flag"></i><p>Button</p>
    </button>
    <button class="btn push-white">
        <i class="fas fa-flag"></i><p>Button</p>
    </button>
</div>
<div style="display: flex; flex-direction:column; width:200px; margin-left:50px">
        <h1>TextBox</h1>
        <div class="textBox simpleBlack">
                <h1><i class="fas fa-flag"></i>simpleBlack</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
            </div>
        <div class="textBox simpleBlue">
            <h1><i class="fas fa-flag"></i>simpleBlue</h1>
            <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
        <div class="textBox simpleDark">
                <h1><i class="fas fa-flag"></i>simpleDark</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
        <div class="textBox lineDark">
                <h1><i class="fas fa-flag"></i>lineDark</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
        <div class="textBox lineBlue">
                <h1><i class="fas fa-flag"></i>lineBlue</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
        <div class="textBox lineBlack">
                <h1><i class="fas fa-flag"></i>lineBlack</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
        <div class="textBox dark">
                <h1><i class="fas fa-flag"></i>dark</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
        <div class="textBox black">
                <h1><i class="fas fa-flag"></i>black</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
        <div class="textBox white">
                <h1><i class="fas fa-flag"></i>white</h1>
                <p>La Tutoría se define como: “un proceso de acompañamiento, grupal o individual, que le brindan al estudiante profesores-tutores, durante su estancia en el Instituto Tecnológico, con el propósito de contribuir a su formación integral”.</p>
        </div>
</div>

<div style="display: flex; flex-direction:column; width:200px; margin-left:50px">
        <h1>Titles</h1>
        <h1 class="title">
            Hello World
        </h1>
</div>