<div class="panel">
  <div class="panelCont">
    <nav>
      <div class="left">
        <div class="logo">
          <div class="img">

          </div>
          <p>ITNL</p>
        </div>
      </div>
      <div class="right">
        <div class="cont">
          <div class="prof">
            <div class="profImg"></div>
            <h3>{{ miUsuario.nombreCompleto | titlecase }}</h3>
          </div>
          <div class="menu">
            <ul>
              <li (click)="showPerfil()">
                Perfil
              </li>
              
            </ul>
          </div>
          <div class="menuMovil" (click)="showMenu()">
            <i class="fas fa-bars"></i>
          </div>
        </div>

      </div>
    </nav>

    <div class="menu">
      <div class="profImg">
      </div>
      <ul>
        <li (click)="showInicio()" [class.selected]="opc == 'inicio'   " (click)="opc='inicio'">
          <i class="fas fa-home"> </i>
          <p>INICIO</p>
        </li>
         
        <li (click)="showAjustes()" [class.selected]="opc == 'ajustes'  " (click)="opc='ajustes'">
          <i class="fas fa-tools"> </i>
          <p>AJUSTES</p>
        </li>
        <li (click)="showPersonal()" [style.display]="miUsuario.tipo == 't' || miUsuario.tipo == 'j' ? 'flex' : 'none'"  [class.selected]="opc == 'personal'  " (click)="opc='personal'">
          <i class="fas fa-tools"> </i>
          <p>PERSONAL</p>
        </li>
        <li style="padding:0px" [style.display]="(opc == 'personal' && (miUsuario.tipo == 't' || miUsuario.tipo == 'j')) ? 'block' : 'none'">
          <ul>
            <li (click)="showAccionesTutoriales">
              <i class="fas fa-angle-right"> </i>
              <p>Acciones tutoriales</p>
            </li>
          </ul>
          <ul>
              <li (click)="showTutorados">
                <i class="fas fa-angle-right"> </i>
                <p>Tutorados</p>
              </li>
            </ul>
        </li>
        <li style="padding:0px" [style.display]="miUsuario.tipo == 'j'  ? 'block' : 'none'">
          <ul>
            <li (click)="showInicio">
              <i class="fas fa-angle-right"> </i>
              <p>Tutores</p>
            </li>
          </ul>
          <ul>
            <li (click)="showInicio">
              <i class="fas fa-angle-right"> </i>
              <p>Pase de lista</p>
            </li>
          </ul>
        </li>
       
      
        <li (click)="showDocumentos()" [class.selected]="opc == 'documentos'  " (click)="opc='documentos'">
          <i class="fas fa-folder"> </i>
          <p>DOCUMENTOS</p>
        </li>


        <li (click)="cerrarSesion()">
          <i class="fas fa-door-closed" [class.selected]="opc == 'salir'" (click)="opc='salir'"></i>
          <p>SALIR</p>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="cont">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


<div class="menuMovilCont" [style.display]="menuMovil == true  ? 'flex' : 'none'">
  <div class="btnClose" (click)="showMenu()">
      <i class="far fa-times-circle"></i>
  </div>
  <div class="opc">
      <h1 (click)="showInicio()">INICIO</h1>
      <h1 (click)="showAjustes()">AJUSTES</h1>
      <h1 (click)="showDocumentos()">DOCUMENTOS</h1>
      <h1 (click)="cerrarSesion()">SALIR</h1>
  </div>
  
</div>