<section class="instrumentos">
        <div class="cont">
                <mat-accordion>
                        <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                        <mat-panel-title>
                                                Haz click aquí para ver los instrumentos de evaluación
                                        </mat-panel-title>
                                        <mat-panel-description> </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="instrumento" *ngFor="let a of archivos">
                                        <mat-divider></mat-divider>
                                        <h1>{{ a.titulo }}</h1>
                                        <p>{{ a.descripcion }}</p>
                                        <a href="{{a.link}}" routerLinkActive="router-link-active"  target="_blank" >
                                                        <button class="btn float">
                                                                        <i class="fas fa-flag"></i>
                                                                        <p>Descargar</p>
                                                                </button>
                                        </a>
                                       
                                </div>
                        </mat-expansion-panel>
                </mat-accordion>
        </div>
</section>
<section class="poster"></section>
<section class="avisos">
        <div class="cont">
                <div class="aviso">
                        <div class="top">
                                <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="bottom">
                                <h1>Bienvenido</h1>
                                <p>
                                        Bienvenido al sistema de tutorías, lugar en donde podrás acceder a las
                                        herramientas necesarias para tus necesidades academicas.
                                </p>
                        </div>
                </div>
                <div class="aviso">
                        <div class="top">
                                <i class="fas fa-book"></i>
                        </div>
                        <div class="bottom">
                                <h1>Totalmente documentado</h1>
                                <p>
                                        Todo el sistema de tutorias esta documentado, por lo que es facil de
                                        ser mantenible.
                                </p>
                        </div>
                </div>
                <div class="aviso">
                        <div class="top">
                                <i class="fas fa-code"></i>
                        </div>
                        <div class="bottom">
                                <h1>Sistema de tutorías</h1>
                                <p>
                                        Un sistema hecho desde 0 para ti.
                                </p>
                        </div>
                </div>
        </div>
</section>