 
<section class="poster">
</section>
<section class="avisos">
        <div class="cont">
                <div class="aviso">
                        <div class="top">
                                <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="bottom">
                                <h1>Bienvenido</h1>
                                <p>
                                        Bienvenido al sistema de tutorías, lugar en donde podrás acceder a las
                                        herramientas necesarias para tus necesidades academicas.
                                </p>
                        </div>
                </div>
                <div class="aviso">
                        <div class="top">
                                <i class="fas fa-book"></i>
                        </div>
                        <div class="bottom">
                                <h1>Totalmente documentado</h1>
                                <p>
                                        Todo el sistema de tutorias esta documentado, por lo que es facil de
                                        ser mantanible.
                                </p>
                        </div>
                </div>
                <div class="aviso">
                        <div class="top">
                                <i class="fas fa-code"></i>
                        </div>
                        <div class="bottom">
                                <h1>Sistema de tutorias</h1>
                                <p>
                                        Un sistema hecho desde 0 para ti.
                                </p>
                        </div>
                </div>

        </div>
</section>
 