<div class="loader" *ngIf="loading">
    <div class="lds-dual-ring">
        <div class="img">

          </div>
    </div>
</div>
 
<section class="formulario">
    <div class="cont">
        <div class="box simple shadow" *ngIf="miUsuario.tipo == 'E'">
      
            <div class="boxCont">
              
              <mat-tab-group>
          
                <mat-tab>
                  <ng-template mat-tab-label>
                    <i class="fas fa-user-circle" style="margin-right: 15px"></i> Mis datos
                  </ng-template>
        
                  <form [formGroup]="settingsForm">
        
                    <div class="title simple">
                      <i class="fas fa-user-cog"></i>
                      <h1>DATOS PERSONALES</h1>
                    </div>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Correo" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Clave" value="">
                    </mat-form-field>
        
                    <mat-form-field>
                      <input matInput [matDatepicker]="myPicker" placeholder="Fecha de nacimiento">
                      <mat-datepicker-toggle [for]="myPicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myPicker></mat-datepicker>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Estado de nacimiento" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Ciudad de nacimiento" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Telefono movil" value="">
                    </mat-form-field>
        
                    <mat-divider></mat-divider>
        
                    <div class="title simple">
                      <i class="fas fa-map-marked-alt"></i>
                      <h1>DOMICILIO</h1>
                    </div>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Telefono" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Colonia" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Calle" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Número" value="">
                    </mat-form-field>
        
                    <mat-divider></mat-divider>
        
                    <div class="title simple">
                      <i class="fas fa-money-check"></i>
                      <h1>BECA Y SEGURO SOCIAL</h1>
                    </div>
        
                    <div class="radio">
                        <p>Tiene beca</p>
                        <mat-radio-group aria-label="Trabaja">
                          <mat-radio-button value="1"> Sí</mat-radio-button>
                          <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Seguro social" value="">
                      </mat-form-field>
                    <mat-form-field>
                      <mat-label>Tipo de beca</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let tipoBeca of tiposBeca" [value]="tipoBeca">
                          {{tipoBeca}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
        
                    
        
                    <mat-divider></mat-divider>
        
                    <div class="title simple">
                      <i class="fas fa-briefcase"></i>
                      <h1>TRABAJO</h1>
                    </div>
                    <div class="radio">
                    <p>¿Tiene trabajo?</p>
                    <mat-radio-group aria-label="Trabaja">
                      <mat-radio-button value="1"> Sí</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre de la empresa" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Horario" value="">
                    </mat-form-field>
        
                    <mat-divider></mat-divider>
        
                    <div class="title simple">
                      <i class="fas fa-user-friends"></i>
                      <h1>ESTADO CIVIL</h1>
                    </div>
        
                    <mat-form-field>
                      <mat-label>Estado civil</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
                          {{estadoCivil}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de hijos" value="">
                    </mat-form-field>
        
                    <mat-form-field>
                      <mat-label>Dependencia economica</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let dependenciaEconomica of dependenciasEconomica" [value]="dependenciaEconomica">
                          {{dependenciaEconomica}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
        
                    <button routerLink="/panel" class="btn float">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>GUARDAR CAMBIOS</p>
                    </button>
        
                  </form>
        
                </mat-tab>
        
                <mat-tab>
                  <ng-template mat-tab-label>
                    <i class="fas fa-male" style="margin-right: 15px"></i>
                    Datos clinicos
                  </ng-template>
        
                  <form [formGroup]="settingsForm">
        
                    <div class="title simple">
                      <i class="fas fa-user-cog"></i>
                      <h1>DEFICIENCIAS SENSIORALES O FUNCIONALES</h1>
                    </div>
        
                    <div class="radio">
                      <p>Vista</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radio">
                      <p>Oido</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radio">
                      <p>Lenguaje</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radio">
                      <p>Motriz</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="title simple">
                      <i class="fas fa-user-cog"></i>
                      <h1> PADECIMIENTOS O DEFICIENCIAS DE SISTEMA ORGÁNICO</h1>
                    </div>
        
                    <div class="radio">
                      <p>Sistema nervioso</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radio">
                      <p>Sistema circulatorio</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    
                    <div class="radio">
                      <p>Sistema digestivo</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    
                    <div class="radio">
                      <p>Sistema respiratorio</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radio">
                      <p>Sistema oseo</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radio">
                      <p>Otros</p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
        <div class="radio">
          
        
                    <div class="title simple">
                      <i class="fas fa-user-cog"></i>
                      <h1> LLEVA O HA LLEVADO TRATAMIENTO PSICOLÓGICO O PSIQUIÁTRICO</h1>
                    </div>
        
                    <mat-radio-group aria-label="Pregunta" >
                      <mat-radio-button value="1"> Sí</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
        
                  </div>
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="En caso afirmativo explica la causa"></textarea>
                    </mat-form-field>
        
                    <div class="title simple">
                      <i class="fas fa-user-cog"></i>
                      <h1> ESTADO PSICOFISIOLÓGICO </h1>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Manos y/o pies hinchados
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU"> 
                      <p>
                        Dolores en el vientre
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Dolores de cabeza y/o vómitos
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Pérdida del equilibrio
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Fatiga y agotamiento
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Pérdida de vista u oído
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Dificultades para dormir
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Pesadillas o terrores nocturnos
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Explica a que"></textarea>
                    </mat-form-field>
        
                    <div class="radioU">
                      <p>
                        Incontinencia
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    
                    <div class="radioU">
                      <p>
                        Tartamudeos al explicarse
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <div class="radioU">
                      <p>
                        Miedos intensos ante cosas
                      </p>
                      <mat-radio-group aria-label="Pregunta">
                        <mat-radio-button value="1"> Sí, antes pero ya no</mat-radio-button>
                        <mat-radio-button value="2">Muy frecuente</mat-radio-button>
                        <mat-radio-button value="3">Frecuente</mat-radio-button>
                        <mat-radio-button value="4">A veces</mat-radio-button>
                        <mat-radio-button value="5">Nunca</mat-radio-button>
                      </mat-radio-group>
                    </div>
        
                    <button routerLink="/panel" class="btn float">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>GUARDAR CAMBIOS</p>
                    </button>
        
                  </form>
        
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <i class="fas fa-male" style="margin-right: 15px"></i>
                    Datos del padre
                  </ng-template>
        
                  <form [formGroup]="settingsForm">
                    
                    <div class="title simple">
                      <i class="fas fa-user-cog"></i>
                      <h1>DATOS </h1>
                    </div>
                   
                    <div class="radio">
                        <p>Vive</p>
                    <mat-radio-group aria-label="Pregunta">
                      <mat-radio-button value="1"> Sí</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                    <mat-form-field>
                      <mat-label>Maximo grado de estudios</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let gradoEstudio of gradosDeEstudio" [value]="gradoEstudio">
                          {{gradoEstudio}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Lugar de trabajo" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de telefono" value="">
                    </mat-form-field>
                    <button routerLink="/panel" class="btn float">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>GUARDAR CAMBIOS</p>
                    </button>
                  </form>
        
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <i class="fas fa-female" style="margin-right: 15px"></i>
                    Datos de la madre
                  </ng-template>
        
                  <form [formGroup]="settingsForm">
                    <br>
                    <div class="title simple">
                      <i class="fas fa-user-cog"></i>
                      <h1>DATOS </h1>
                    </div>
                    <div class="radio">
                        <p>Vive</p>
                    <mat-radio-group aria-label="Pregunta">
                      <mat-radio-button value="1"> Sí</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                    <mat-form-field>
                      <mat-label>Maximo grado de estudios</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let gradoEstudio of gradosDeEstudio" [value]="gradoEstudio">
                          {{gradoEstudio}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Lugar de trabajo" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de telefono" value="">
                    </mat-form-field>
                    <button routerLink="/panel" class="btn float">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>GUARDAR CAMBIOS</p>
                    </button>
                  </form>
        
                </mat-tab>
        
              </mat-tab-group>
            </div>
          </div>
        
         
        
          <div class="box simple shadow" *ngIf="miUsuario.tipo == 'P'">
        
            <div class="boxCont">
              
              <mat-tab-group>
                <mat-tab *ngIf="miUsuario.personal.cargo == 'J' || miUsuario.personal.cargo == 'D' || miUsuario.personal.cargo == 'A' || miUsuario.personal.cargo == 'C'">
                  <ng-template mat-tab-label>
                    <i class="fas fa-user-circle" style="margin-right: 15px"></i> Personales
                  </ng-template>
        
                  <form [formGroup]="personalesForm" (ngSubmit)="onSubmitPersonal()">
        
                  
                    
                    <mat-form-field>
                      <mat-label>Empleados</mat-label>
                      <mat-select formControlName="departamento"  formControlName="cve" >
                        <mat-option *ngFor="let p of personales" [value]="p.cve">
                          {{p.usuario.nombre + ' ' + p.usuario.apellidoPaterno + ' ' + p.usuario.apellidoMaterno}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Correo" formControlName="email" value="">
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Constraseña" formControlName="password"  value="">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Titulo</mat-label>
                      <mat-select formControlName="titulo">
                        <mat-option *ngFor="let d of titulos" [value]="d.id">
                          {{d.titulo}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Departamento</mat-label>
                      <mat-select formControlName="departamento">
                        <mat-option *ngFor="let d of departamentos" [value]="d.id">
                          {{d.titulo}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Cargo</mat-label>
                      <mat-select formControlName="cargo">
                        <mat-option *ngFor="let c of cargos" [value]="c.tipo"  >
                          {{c.titulo}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="radio">
                      <p>Genero</p>
                      <mat-radio-group aria-label="Genero" formControlName="genero">
                        <mat-radio-button value="H"> Hombre</mat-radio-button>
                        <mat-radio-button value="M">Mujer</mat-radio-button>
                      </mat-radio-group>
                  </div>
                    <button  class="btn float-dark">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>GUARDAR CAMBIOS</p>
                    </button>
                    <button  [routerLink]="['/panel/personales']" type="button" class="btn float">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>MOSTRAR PERSONAL</p>
                  </button>
                    </form>
               
                </mat-tab>
                <mat-tab *ngIf="miUsuario.personal.cargo == 'A' || miUsuario.personal.cargo == 'C'">
                  <ng-template mat-tab-label>
                    <i class="fas fa-user-circle" style="margin-right: 15px"></i> Acciones tutoriales
                  </ng-template>
        
                  <form [formGroup]="accionesForm" (ngSubmit)="onSubmitAcciones()">
        
                    
                   
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Titulo" formControlName="titulo" value="">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [matDatepicker]="myPicker" placeholder="fecha" formControlName="fecha" >
                      <mat-datepicker-toggle [for]="myPicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Contenido" formControlName="contenido" ></textarea>
                    </mat-form-field>
                    <div class="radio">
                      <p>Obligatorio</p>
                      <mat-radio-group aria-label="Genero" formControlName="obligatorio">
                        <mat-radio-button value="1"> Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                      </mat-radio-group>
                  </div>
                    <button  class="btn float">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>GUARDAR CAMBIOS</p>
                    </button>
        
                  </form>
        
                </mat-tab >
                <mat-tab *ngIf="miUsuario.personal.cargo == 'J' || miUsuario.personal.cargo == 'D' || miUsuario.personal.cargo == 'A' || miUsuario.personal.cargo == 'C'">
                  <ng-template mat-tab-label>
                    <i class="fas fa-user-circle" style="margin-right: 15px"></i> Sesiones
                  </ng-template>
        
                  <form [formGroup]="sesionesForm" (ngSubmit)="onSubmitSesiones()">
        
                    
                    <mat-form-field>
                      <mat-label>Departamento</mat-label>
                      <mat-select formControlName="departamento"  (ngModelChange)="cargarAcciones($event)">
                        <mat-option *ngFor="let d of departamentos" [value]="d.id">
                          {{d.titulo}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Accion Tutorial</mat-label>
                      <mat-select formControlName="accionTutorial">
                        <mat-option *ngFor="let d of acciones" [value]="d.id">
                           {{d.titulo}} - {{d.fecha}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [matDatepicker]="myPicker2" placeholder="fecha" formControlName="fecha" >
                      <mat-datepicker-toggle [for]="myPicker2" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myPicker2></mat-datepicker>
                    </mat-form-field>
                    
                    
                    <button  class="btn float">
                      <i class="fas fa-sign-in-alt"></i>
                      <p>GUARDAR CAMBIOS</p>
                    </button>
        
                  </form>
        
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        
    </div>
       
      </section>
      
      