<div class="loader" *ngIf="loading">
  <div class="lds-dual-ring">
    <div class="img">

    </div>
  </div>
</div>
<div class="formAlert" *ngIf="formAlert == 'acciones'">
  <div class="cont x1">
    <form [formGroup]="accionesForm" (ngSubmit)="onSubmitAcciones()">



      <mat-form-field class="example-full-width">
        <input matInput placeholder="Titulo" formControlName="titulo" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="myPicker" placeholder="fecha" formControlName="fecha">
        <mat-datepicker-toggle [for]="myPicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Contenido" formControlName="contenido"></textarea>
      </mat-form-field>
      <div class="radio">
        <p>Tipo</p>
        <mat-radio-group aria-label="Genero" formControlName="tipo">
          <mat-radio-button value="I"> Individual</mat-radio-button>
          <mat-radio-button value="G">Grupal</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="radio">
        <p>Obligatorio</p>
        <mat-radio-group aria-label="Genero" formControlName="obligatorio">
          <mat-radio-button value="1"> Si</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <button class="btn float">
        <i class="fas fa-save"></i>
        <p>GUARDAR</p>
      </button>
      <button class="btn float-dark" (click)="formAlert = 'none'">
        <i class="fas fa-sign-in-alt"></i>
        <p>CANCELAR</p>
      </button>

    </form>
  </div>
</div>
<div class="formAlert" *ngIf="formAlert == 'editarAcciones'">
    <div class="cont x1">
      <form [formGroup]="accionesEditarForm" (ngSubmit)="editarAccion()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Titulo" formControlName="titulo"  >
        </mat-form-field>
        <mat-form-field > 
          <input matInput [matDatepicker]="myPicker" placeholder="fecha" formControlName="fecha"  >
          <mat-datepicker-toggle [for]="myPicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #myPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Contenido" formControlName="contenido" ></textarea>
        </mat-form-field>
        <div class="radio">
          <p>Tipo</p>
          <mat-radio-group aria-label="Genero" formControlName="tipo">
            <mat-radio-button value="I" [checked]="accionSeleccionada.tipo == 'I'"> Individual</mat-radio-button>
            <mat-radio-button value="G" [checked]="accionSeleccionada.tipo == 'G'">Grupal</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="radio">
          <p>Visible</p>
          <mat-radio-group aria-label="Genero" formControlName="activo">
            <mat-radio-button value="true"  [checked]="accionSeleccionada.activo == 1"> Sí</mat-radio-button>
            <mat-radio-button value="false" [checked]="accionSeleccionada.activo == 0">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="radio">
          <p>Obligatorio</p>
          <mat-radio-group aria-label="Genero" formControlName="obligatorio">
            <mat-radio-button value="true"  [checked]="accionSeleccionada.obligatorio == 1"> Sí</mat-radio-button>
            <mat-radio-button value="false" [checked]="accionSeleccionada.obligatorio == 0">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <button class="btn float">
          <i class="fas fa-save"></i>
          <p>GUARDAR</p>
        </button>
        <button class="btn float-dark" (click)="formAlert = 'none'">
          <i class="fas fa-sign-in-alt"></i>
          <p>CANCELAR</p>
        </button>
  
      </form>
    </div>
  </div>

<div class="formAlert" *ngIf="formAlert == 'archivos'">
  <div class="cont x1">
    <form [formGroup]="archivosForm" (ngSubmit)="onSubmitArchivos()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Título del archivo" formControlName="titulo" type="email" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descripción breve sobre el archivo" formControlName="descripcion"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Hipervínculo de descarga" formControlName="link" type="email" value="">
      </mat-form-field>
      <button class="btn float-dark">
        <i class="fas fa-save"></i>
        <p>GUARDAR</p>
      </button>
      <button class="btn float-dark" (click)="formAlert = 'none'">
        <i class="fas fa-sign-in-alt"></i>
        <p>CANCELAR</p>
      </button>
    </form>
  </div>
</div>
<div class="formAlert" *ngIf="formAlert == 'editarArchivos'">
    <div class="cont x1">
      <form [formGroup]="archivosEditarForm" (ngSubmit)="editarArchivo()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Título del archivo" formControlName="titulo" type="email" [value]="archivoSeleccionado.titulo">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Descripción breve sobre el archivo" formControlName="descripcion" [value]="archivoSeleccionado.descripcion"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hipervínculo de descarga" formControlName="link" type="email" [value]="archivoSeleccionado.link">
        </mat-form-field>
        <button class="btn float-dark" >
          <i class="fas fa-save"></i>
          <p>GUARDAR</p>
        </button>
        <button class="btn float-dark" (click)="formAlert = 'none'">
          <i class="fas fa-sign-in-alt"></i>
          <p>CANCELAR</p>
        </button>
      </form>
    </div>
  </div>





<section class="formulario">
  <div class="cont">

    <!--FORMULARIO DE LOS ESTUDIANTES-->
    <div class="box simple shadow" *ngIf="miUsuario.estudiante != null">

      <div class="boxCont">
        <form [formGroup]="settingsForm" (ngSubmit)="guardarEstudiante()">
          <mat-tab-group>

            <mat-tab>
              <div class="bxCont">
                <ng-template mat-tab-label>
                  <i class="fas fa-user-circle" style="margin-right: 15px"></i> Datos personales
                </ng-template>



                <div class="title simple">
                  <i class="fas fa-user-cog"></i>
                  <h1>DATOS PERSONALES</h1>
                </div>

                
                <mat-form-field>
                    <input matInput [matDatepicker]="myPicker" placeholder="Fecha de nacimiento" formControlName="fechaNacimiento"  >
                    <mat-datepicker-toggle [for]="myPicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #myPicker disabled="false"></mat-datepicker>
                  </mat-form-field>
                

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Estado de nacimiento" formControlName="estadoDeNacimiento" value="">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ciudad de nacimiento" formControlName="ciudadDeNacimiento" value="">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Teléfono móvil" value="" formControlName="telefonoMovil">
                </mat-form-field>

                <mat-divider></mat-divider>

                <div class="title simple">
                  <i class="fas fa-map-marked-alt"></i>
                  <h1>DOMICILIO</h1>
                </div>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Teléfono" value="" formControlName="telefonoDomicilio">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Colonia" value="" formControlName="colonia">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Calle" value="" formControlName="calle">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Número" value="" formControlName="numero">
                </mat-form-field>

                <mat-divider></mat-divider>

                <div class="title simple">
                  <i class="fas fa-money-check"></i>
                  <h1>BECA Y SEGURO SOCIAL</h1>
                </div>

                <div class="radio">
                  <p>Tiene beca</p>
                  <mat-radio-group aria-label="Trabaja" formControlName="tieneBeca" >
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tieneBeca == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false"  [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tieneBeca == false">No</mat-radio-button>
                    <mat-radio-button value=""  [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tieneBeca == null">En proceso</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Seguro social" value="" formControlName="seguroSocial">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Tipo de beca</mat-label>
                  <mat-select formControlName="tipoDeBeca">
                    <mat-option *ngFor="let tipoBeca of tiposBeca" [value]="tipoBeca">
                      {{tipoBeca}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>



                <mat-divider></mat-divider>

                <div class="title simple">
                  <i class="fas fa-briefcase"></i>
                  <h1>TRABAJO</h1>
                </div>
                <div class="radio">
                  <p>¿Tiene trabajo?</p>
                  <mat-radio-group aria-label="Trabaja" formControlName="tieneTrabajo">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.trabaja == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.trabaja == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Nombre de la empresa" value="" formControlName="nombreEmpresa">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Horario" value="" formControlName="horario">
                </mat-form-field>

                <mat-divider></mat-divider>

                <div class="title simple">
                  <i class="fas fa-user-friends"></i>
                  <h1>ESTADO CIVIL</h1>
                </div>

                <mat-form-field>
                  <mat-label>Estado civil</mat-label>
                  <mat-select formControlName="estadoCivil">
                    <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
                      {{estadoCivil}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Numero de hijos" value="" formControlName="numeroDeHijos">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Dependencia económica</mat-label>
                  <mat-select formControlName="dependenciaEconomica">
                    <mat-option *ngFor="let dependenciaEconomica of dependenciasEconomica"
                      [value]="dependenciaEconomica">
                      {{dependenciaEconomica}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>


            </mat-tab>

            <mat-tab>
              <div class="bxCont">
                <ng-template mat-tab-label>
                  <i class="fas fa-male" style="margin-right: 15px"></i>
                  Datos clinicos
                </ng-template>



                <div class="title simple">
                  <i class="fas fa-user-cog"></i>
                  <h1>DEFICIENCIAS SENSORIALES O FUNCIONALES</h1>
                </div>

                <div class="radio">
                  <p>Vista</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="vista">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionVista == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionVista == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Oído</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="oido">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionOido == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionOido == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Lenguaje</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="lenguaje">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionLenguaje == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionLenguaje == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Motriz</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="motriz">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionMotriz == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionMotriz == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="title simple">
                  <i class="fas fa-user-cog"></i>
                  <h1> PADECIMIENTOS O DEFICIENCIAS DE SISTEMA ORGÁNICO</h1>
                </div>

                <div class="radio">
                  <p>Sistema nervioso</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="nervioso">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaNervioso == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaNervioso == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Sistema circulatorio</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="circulatorio">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaCirculatorio == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaCirculatorio == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Sistema digestivo</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="digestivo">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaDigestivo == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaDigestivo == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Sistema respiratorio</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="respiratorio">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaRespiratorio == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaRespiratorio == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Sistema óseo</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="oseo">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaOseo == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaOseo == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radio">
                  <p>Otros</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="otros">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaOtro == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.prescripcionSistemaOtro == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="radio">


                  <div class="title simple">
                    <i class="fas fa-user-cog"></i>
                    <h1> LLEVA O HA LLEVADO TRATAMIENTO PSICOLÓGICO O PSIQUIÁTRICO</h1>
                  </div>

                  <mat-radio-group aria-label="Pregunta" formControlName="haLlevadoTratamiento">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tratamientoPsicologicoPsiquiatrico == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tratamientoPsicologicoPsiquiatrico == false">No</mat-radio-button>
                  </mat-radio-group>

                </div>
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="En caso afirmativo explica la causa"
                    formControlName="tratamiento"></textarea>
                </mat-form-field>

                <div class="title simple">
                  <i class="fas fa-user-cog"></i>
                  <h1> ESTADO PSICOFISIOLÓGICO </h1>
                </div>

                <div class="radioU">
                  <p>
                    Manos y/o pies hinchados
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="hinchazon">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.manosPiesHinchados == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.manosPiesHinchados == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.manosPiesHinchados == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.manosPiesHinchados == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.manosPiesHinchados == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Dolores en el vientre
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="doloresVientre">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresVientre == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresVientre == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresVientre == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresVientre == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresVientre == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Dolores de cabeza y/o vómitos
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="doloresCabeza">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresCabezaVomito == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresCabezaVomito == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresCabezaVomito == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresCabezaVomito == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.doloresCabezaVomito == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Pérdida del equilibrio
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="perdidaEquilibrio">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaEquilibrio == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaEquilibrio == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaEquilibrio == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaEquilibrio == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaEquilibrio == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Fatiga y agotamiento
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="fatiga">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.fatigaAgotamiento == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.fatigaAgotamiento == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.fatigaAgotamiento == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.fatigaAgotamiento == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.fatigaAgotamiento == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Pérdida de vista u oído
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="perdidaVista">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaVistaOido == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaVistaOido == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaVistaOido == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaVistaOido == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.perdidaVistaOido == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Dificultades para dormir
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="dificultadParaDormir">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.dificultadDormir == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.dificultadDormir == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.dificultadDormir == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.dificultadDormir == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.dificultadDormir == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Pesadillas o terrores nocturnos
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="pesadilla">
                      <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.pesadillasTerroresNocturnos == 1"> Sí, antes pero ya no</mat-radio-button>
                      <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.pesadillasTerroresNocturnos == 2">Muy frecuente</mat-radio-button>
                      <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.pesadillasTerroresNocturnos == 3">Frecuente</mat-radio-button>
                      <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.pesadillasTerroresNocturnos == 4">A veces</mat-radio-button>
                      <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.pesadillasTerroresNocturnos == 5">Nunca</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Explica a que se tiene pesadillas" formControlName="pesadillaAQue"></textarea>
                </mat-form-field>
                
                <div class="radioU">
                  <p>
                    Incontinencia
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="incontinencia">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.incontinencia == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.incontinencia == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.incontinencia == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.incontinencia == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.incontinencia == 5">Nunca</mat-radio-button>
                   </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Tartamudeos al explicarse
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="tartamudeos">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tartamudeos == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tartamudeos == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tartamudeos == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tartamudeos == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.tartamudeos == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="radioU">
                  <p>
                    Miedos intensos ante cosas
                  </p>
                  <mat-radio-group aria-label="Pregunta" formControlName="miedos">
                    <mat-radio-button value="1" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.miedosIntensos == 1"> Sí, antes pero ya no</mat-radio-button>
                    <mat-radio-button value="2" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.miedosIntensos == 2">Muy frecuente</mat-radio-button>
                    <mat-radio-button value="3" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.miedosIntensos == 3">Frecuente</mat-radio-button>
                    <mat-radio-button value="4" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.miedosIntensos == 4">A veces</mat-radio-button>
                    <mat-radio-button value="5" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.miedosIntensos == 5">Nunca</mat-radio-button>
                  </mat-radio-group>
                </div>




              </div>
            </mat-tab>


            <mat-tab>
              <div class="bxCont">
                <ng-template mat-tab-label>
                  <i class="fas fa-male" style="margin-right: 15px"></i>
                  Datos del padre
                </ng-template>



                <div class="title simple">
                  <i class="fas fa-user-cog"></i>
                  <h1>DATOS </h1>
                </div>

                <div class="radio">
                  <p>Vive</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="padreVive">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.padreVive == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.padreVive == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field>
                  <mat-label>Máximo grado de estudios</mat-label>
                  <mat-select formControlName="padreGrado">
                    <mat-option *ngFor="let gradoEstudio of gradosDeEstudio" [value]="gradoEstudio">
                      {{gradoEstudio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Lugar de trabajo" value="" formControlName="padreTrabajo">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Número de telefono" value="" formControlName="padreNumero">
                </mat-form-field>


              </div>
            </mat-tab>
            <mat-tab>
              <div class="bxCont">
                <ng-template mat-tab-label>
                  <i class="fas fa-female" style="margin-right: 15px"></i>
                  Datos de la madre
                </ng-template>


                <br>
                <div class="title simple">
                  <i class="fas fa-user-cog"></i>
                  <h1>DATOS </h1>
                </div>
                <div class="radio">
                  <p>Vive</p>
                  <mat-radio-group aria-label="Pregunta" formControlName="madreVive">
                    <mat-radio-button value="true" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.madreVive == true"> Sí</mat-radio-button>
                    <mat-radio-button value="false" [checked]="miUsuario.estudiante.estudianteDatos != null && miUsuario.estudiante.estudianteDatos.madreVive == false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field>
                  <mat-label>Máximo grado de estudios</mat-label>
                  <mat-select formControlName="madreGrado">
                    <mat-option *ngFor="let gradoEstudio of gradosDeEstudio" [value]="gradoEstudio">
                      {{gradoEstudio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Lugar de trabajo" value="" formControlName="madreTrabajo">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Numero de telefono" value="" formControlName="madreNumero">
                </mat-form-field>
              </div>


            </mat-tab>

          </mat-tab-group>
          <button class="btn float">
            <i class="fas fa-save"></i>
            <p>GUARDAR</p>
          </button>
        </form>
      </div>
    </div>

    <!--FORMULARIO DE LOS PERSONALES-->

    <div class="box simple shadow" *ngIf="miUsuario.personal != null">

      <div class="boxCont2">

        <mat-tab-group>
          <mat-tab
            *ngIf="miUsuario.personal.cargo == 'J' || miUsuario.personal.cargo == 'D' || miUsuario.personal.cargo == 'A' || miUsuario.personal.cargo == 'C'">
            <ng-template mat-tab-label>
              <i class="fas fa-user-circle" style="margin-right: 15px"></i> Empleados
            </ng-template>

            <form [formGroup]="personalesForm" (ngSubmit)="onSubmitPersonal()">



              <mat-form-field>
                <mat-label>Haga click aquí para seleccionar el empleado</mat-label>
                <mat-select formControlName="cve">
                  <mat-option *ngFor="let p of personales" [value]="p.cve">
                    {{p.usuario.nombre + ' ' + p.usuario.apellidoPaterno + ' ' + p.usuario.apellidoMaterno}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Correo electrónico" formControlName="email" type="email" value="">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Contraseña" formControlName="password"    value=""
                  [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <i [className]="hide ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                </button>

              </mat-form-field>

              <mat-form-field>
                <mat-label>Título</mat-label>
                <mat-select formControlName="titulo">
                  <mat-option *ngFor="let d of titulos" [value]="d.id">
                    {{d.titulo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="departamento">
                  <mat-option *ngFor="let d of departamentos" [value]="d.id">
                    {{d.titulo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cargo</mat-label>
                <mat-select formControlName="cargo">
                  <mat-option *ngFor="let c of cargos" [value]="c.tipo">
                    {{c.titulo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="radio">
                <p>Género</p>
                <mat-radio-group aria-label="Genero" formControlName="genero">
                  <mat-radio-button value="H"> Hombre</mat-radio-button>
                  <mat-radio-button value="M">Mujer</mat-radio-button>
                </mat-radio-group>
              </div>
              <button class="btn float-dark">
                <i class="fas fa-save"></i>
                <p>GUARDAR</p>
              </button>
              <button [routerLink]="['/panel/personales']" type="button" class="btn float">
                <i class="fas fa-sign-in-alt"></i>
                <p>MOSTRAR PERSONAL</p>
              </button>
            </form>

          </mat-tab>
          <mat-tab *ngIf="miUsuario.personal.cargo == 'A' || miUsuario.personal.cargo == 'C'">
            <ng-template mat-tab-label>
              <i class="fas fa-user-circle" style="margin-right: 15px"></i> Acciones tutoriales
            </ng-template>


            <table mat-table [dataSource]="accionesSource" matSort class="mat-elevation-z8">

              <ng-container matColumnDef="visible">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Visible
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.activo == true ? 'Sí' : 'No'}}
                </td>
              </ng-container>
                <ng-container matColumnDef="obligatorio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Obligatorio
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.obligatorio == true ? 'Sí' : 'No'}}
                    </td>
                  </ng-container>
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.fecha | date:'shortDate'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.titulo}}
                </td>
              </ng-container>
              <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{(element.tipo | lowercase) == 'i'? 'Individual' : 'Grupal'}}
                  </td>
                </ng-container>
              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar
                </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn float" (click)="establecerAccion(element.id) ">
                      <i class="fas fa-edit"></i>
                        <p>Editar</p>
                      </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar
                </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn float-dark" (click)="eliminarAccion(element.id)">
                      <i class="fas fa-trash-alt"></i>
                        <p>Eliminar</p>
                      </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="accionesColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: accionesColumns;"></tr>
            </table>
            <div class="paginator">
              <button class="btn float-white" (click)="formAlert = 'acciones'">
                <i class="fas fa-plus"></i>
                <p>Agregar nueva acción tutorial</p>
              </button>
              <mat-paginator 
              [length]="accionLength"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = mostrarAcciones($event)">
              </mat-paginator>
            </div>

          </mat-tab>
          <mat-tab
            *ngIf="miUsuario.personal.cargo == 'J' || miUsuario.personal.cargo == 'D' || miUsuario.personal.cargo == 'A' || miUsuario.personal.cargo == 'C'">
            <ng-template mat-tab-label>
              <i class="fas fa-user-circle" style="margin-right: 15px"></i> Sesiones
            </ng-template>

            <form [formGroup]="sesionesForm" (ngSubmit)="onSubmitSesiones()">


              <mat-form-field>
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="departamento" (ngModelChange)="cargarAcciones($event)">
                  <mat-option *ngFor="let d of departamentos" [value]="d.id">
                    {{d.titulo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Acción Tutorial</mat-label>
                <mat-select formControlName="accionTutorial">
                  <mat-option *ngFor="let d of acciones" [value]="d.id">
                    {{d.titulo}} - {{d.fecha}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="myPicker2" placeholder="fecha" formControlName="fecha">
                <mat-datepicker-toggle [for]="myPicker2" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #myPicker2></mat-datepicker>
              </mat-form-field>


              <button class="btn float">
                <i class="fas fa-save"></i>
                <p>GUARDAR</p>
              </button>

            </form>

          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="fas fa-user-circle" style="margin-right: 15px"></i> Subir archivos
            </ng-template>
            <table mat-table [dataSource]="archivosSource" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Título
                </th>
                <td mat-cell *matCellDef="let element">
                  <a href="{{element.link}}"  target="_blank" >{{element.titulo}}</a>
                </td>
              </ng-container>
              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar
                </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn float" (click)="establecerArchivo(element.id)">
                    <i class="fas fa-edit"></i>
                    <p>Editar</p>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar
                </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn float-dark" (click)="eliminarArchivo(element.id)">
                    <i class="fas fa-trash-alt"></i>
                    <p>Eliminar</p>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="archivosColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: archivosColumns;"></tr>
            </table>
            <div class="paginator">
              <button class="btn float-white" (click)="formAlert = 'archivos'">
                <i class="fas fa-plus"></i>
                <p>Agregar un nuevo archivo</p>
              </button>
              <mat-paginator [length]="archivoLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = mostrarAcciones($event)">
              </mat-paginator>
            </div>


          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

  </div>

</section>