<section class="profileContent">
        <header>
                <div class="box">
                        <div class="boxCont">
                                <div class="profCont">
                                        <div class="profImg">

                                        </div>
                                        <h1>{{ miPersonal.usuario.nombreCompleto | titlecase }}</h1>
                                </div>
                        </div>

                </div>
        </header>

        <section class="advices" *ngIf="miPersonal.cargo != 'A'">
                <div class="advice blue horizontal">
                        <i class="fas fa-trophy"></i>
                        <div class="info">
                                <h1>{{ miPersonal.tutorados }}</h1>
                                <p>Tutorados</p>
                        </div>
                </div>
                <div class="advice blue horizontal">
                        <i class="fas fa-clipboard-check"></i>
                        <div class="info">
                                <h1>{{ miPersonal.canalizaciones }}</h1>
                                <p>Canalizaciones</p>
                        </div>
                </div>
                <div class="advice blue horizontal">
                        <i class="fas fa-graduation-cap"></i>
                        <div class="info">
                                <h1>{{ miPersonal.posts }}</h1>
                                <p>Posts</p>
                        </div>
                </div>
        </section>
        <div class="textBox lineBlue">
                <h1><i class="fas fa-flag"></i>Datos</h1>
                <p>
                        Cargo:  {{miPersonal.cargo == "A" ? "Administrador" : ""}}
                                {{miPersonal.cargo == "C" ? "Coordinador" : ""}}
                                {{miPersonal.cargo == "D" ? "Jefe de departamento" : ""}}
                                {{miPersonal.cargo == "J" ? "Jefe de tutorias" : ""}}
                                {{miPersonal.cargo == "T" ? "Tutor" : ""}}<br>
                        Email: {{ miPersonal.usuario.email }} <br>
                        Genero: {{ miPersonal.usuario.genero == "M" ? "Mujer" : "Hombre" }} <br>
                        Departamento: {{ miPersonal.departamento.titulo | titlecase }} <br>
                </p>
        </div>
        <div class="box simple shadow" *ngIf="miPersonal.cargo != 'A'">
                <div class="title solidBlue ">
                        <i class="fas fa-flag"></i>
                        <h1>Acciones</h1>
                </div>
                <div class="boxCont" >
                        <button class=" btn float-dark" [routerLink]="['/panel/grupos/'+miPersonal.grupoId]">
                        <i class="fas fa-flag"></i>
                        <p>Mostrar grupo</p>
                        </button>
                        <br>
                </div>
        </div>
        


        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


</section>