@import "../../../components/panel/panel.component.sass"
.titulo, .personales, .canalizaciones, .sesiones
    margin-top: 20px

.titulo
    font-size: 1.5em
    padding: 15px
    background: white

.x1
    width: 500px !important