<div class="loader" *ngIf="loading">
  <div class="lds-dual-ring">
    <div class="img"></div>
  </div>
</div>
<div class="formAlert" *ngIf="formAlert == 'personal'">
  <div class="cont x1"> 
      <div class="title leftBlue">
         <h1><i class="far fa-edit"></i>Ingrese los datos del nuevo empleado</h1> </div>
    <form [formGroup]="personalesForm" (ngSubmit)="onSubmitPersonal()">
      <mat-form-field>
        <mat-label>Haga click aquí para seleccionar el empleado</mat-label>
        <mat-select formControlName="cve">
          <mat-option *ngFor="let p of personalesDataForm" [value]="p.cve">
            {{
              p.usuario.nombre +
                " " +
                p.usuario.apellidoPaterno +
                " " +
                p.usuario.apellidoMaterno
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Correo electrónico"
          formControlName="email"
          type="email"
          value=""
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Contraseña"
          formControlName="password"
          value=""
          [type]="hide ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <i [className]="hide ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Título del empleado</mat-label>
        <mat-select formControlName="titulo">
          <mat-option *ngFor="let d of titulos" [value]="d.id">
            {{ d.titulo | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="cargo">
          <mat-option *ngFor="let c of cargos" [value]="c.tipo">
            {{ c.titulo  }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="radio">
        <p>Género</p>
        <mat-radio-group aria-label="Genero" formControlName="genero">
          <mat-radio-button value="H"> Hombre</mat-radio-button>
          <mat-radio-button value="M">Mujer</mat-radio-button>
        </mat-radio-group>
      </div>
      <button class="btn float-dark">
        <i class="fas fa-sign-in-alt"></i>
        <p>GUARDAR EMPLEADO</p>
      </button>
      <button class="btn float-white" (click)="formAlert = 'none'">
        <i class="fas fa-sign-in-alt"></i>
        <p>SALIR</p>
      </button>
    </form>
  </div>
</div>
<!--SESIONES-->
<div class="formAlert" *ngIf="formAlert == 'sesiones'">
  <div class="cont x2">
      <div class="title leftBlue">
        <h1><i class="far fa-edit"></i> Ingrese los datos de la sesion </h1>
      </div>
    <form [formGroup]="sesionesForm" (ngSubmit)="onSubmitSesiones()">
      <mat-form-field>
        <mat-label>Seleccione la Acción Tutorial</mat-label>
        <mat-select formControlName="accionTutorial">
          <mat-option *ngFor="let d of acciones" [value]="d.id">
            {{ d.titulo }} - {{ d.fecha }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="myPicker2"
          placeholder="Seleccione la fecha"
          formControlName="fecha"
        />
        <mat-datepicker-toggle
          [for]="myPicker2"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myPicker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Hora"
          formControlName="tiempo"
          type="time"
          value=""
        />
      </mat-form-field>
      <button class="btn float">
        <i class="fas fa-sign-in-alt"></i>
        <p>GUARDAR</p>
      </button>
      <button class="btn float-white" (click)="formAlert = 'none'">
        <i class="fas fa-sign-in-alt"></i>
        <p>SALIR</p>
      </button>
    </form>
  </div>
</div>
<!--SESIONES INDIVIDUALES-->
<div class="formAlert" *ngIf="formAlert == 'sesionesIndividuales'">
  <div class="cont x2">
      <div class="title leftBlue">
        <h1><i class="far fa-edit"></i> Ingrese los datos de la sesion individual</h1>
      </div>
    <form [formGroup]="sesionesIndividualesForm" (ngSubmit)="onSubmitSesionesIndividuales()">
      <mat-form-field>
        <mat-label>Seleccione la Acción Tutorial</mat-label>
        <mat-select formControlName="accionTutorial">
          <mat-option *ngFor="let d of accionesIndividuales" [value]="d.id">
            {{ d.titulo }} - {{ d.fecha }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="myPicker2"
          placeholder="Seleccione la fecha"
          formControlName="fecha"
        />
        <mat-datepicker-toggle
          [for]="myPicker2"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myPicker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Hora"
          formControlName="tiempo"
          type="time"
          value=""
        />
      </mat-form-field>
      <button class="btn float">
        <i class="fas fa-sign-in-alt"></i>
        <p>GUARDAR</p>
      </button>
      <button class="btn float-white" (click)="formAlert = 'none'">
        <i class="fas fa-sign-in-alt"></i>
        <p>SALIR</p>
      </button>
    </form>
  </div>
</div>

<div class="formAlert" *ngIf="formAlert == 'editarSesion'">
  <div class="cont x2">
      <div class="title leftBlue">
        <h1><i class="far fa-edit"></i> Ingrese los datos de la acción tutorial</h1>
      </div>
    <form [formGroup]="sesionesEditarForm" (ngSubmit)="onSubmitEditarSesiones()">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="myPicker2"
          placeholder="Seleccione la fecha"
          formControlName="fecha"
        />
        <mat-datepicker-toggle
          [for]="myPicker2"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myPicker2></mat-datepicker>
      </mat-form-field>
      <button class="btn float">
        <i class="fas fa-sign-in-alt"></i>
        <p>GUARDAR</p>
      </button>
      <button class="btn float-white" (click)="formAlert = 'none'">
        <i class="fas fa-sign-in-alt"></i>
        <p>SALIR</p>
      </button>
    </form>
  </div>
</div>

<section class="titulo">
  <div class="cont">
    <div class="title leftBlue">
      <i class="fas fa-building"></i>
      <h1>Departamento de {{ departamento.titulo | titlecase }}</h1>
    </div>
  </div>
  <h1></h1>
</section>
<section class="personales">
  <div class="cont">
    <div class="box simple shadow">
      <div class="title solidBlue ">
        <i class="fas fa-user-tie"></i>
        <h1>Empleados</h1>
      </div>
      <div class="boxCont">
        <table
          mat-table
          [dataSource]="personalesDataSource"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Empleados</th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/panel/personales', element.id]">
                {{ element.usuario.nombreCompleto | titlecase }}
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cargo == "A" ? "Administrador" : "" }}
              {{ element.cargo == "J" ? "Jefe de tutorias" : "" }}
              {{ element.cargo == "D" ? "Jefe de departamento" : "" }}
              {{ element.cargo == "C" ? "Coordinador" : "" }}
              {{ element.cargo == "T" ? "Tutor" : "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tutorados">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tutorados</th>
            <td mat-cell *matCellDef="let element">{{ element.tutorados }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="personalesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: personalesColumns"></tr>
        </table>

        <div class="paginator">
          <button class="btn float-white" (click)="formAlert = 'personal'">
            <i class="fas fa-plus"></i>
            <p>Agregar nuevo empleado</p>
          </button>
          <mat-paginator
            [length]="personalesLength"
            [pageSize]="personalesPageSize"
            [pageSizeOptions]="personalesPageSizeOptions"
            (page)="pageEvent = mostrarPersonales($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="canalizaciones">
  <div class="cont">
    <div class="box simple shadow">
      <div class="title solidBlue ">
        <i class="fas fa-exclamation-circle"></i>
        <h1>Canalizaciones</h1>
      </div>
      <div class="boxCont">
        <table
          mat-table
          [dataSource]="canalizacionesDataSource"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="tutor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tutor</th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/panel/personales', element.personal.id]">
                {{ element.personal.usuario.nombreCompleto | titlecase }}
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="estudiante">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Estudiante
            </th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/panel/estudiantes', element.estudiante.numeroDeControl]">
                {{ element.estudiante.usuario.nombreCompleto | titlecase }}
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="atencion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Asunto</th>
            <td mat-cell *matCellDef="let element">
              <a>
                {{ element.atencion.titulo | titlecase }}
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="estatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
              <td mat-cell *matCellDef="let element">
                <a>
                  {{ (element.estado | lowercase ) == 'a' ? 'En proceso' : 'Terminada' }}
                </a>
              </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="canalizacionesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: canalizacionesColumns"></tr>
        </table>

        <div class="cont">
          <mat-paginator
            [length]="canalizacionesLength"
            [pageSize]="canalizacionesPageSize"
            [pageSizeOptions]="canalizacionesPageSizeOptions"
            (page)="pageEvent = mostrarCanalizaciones($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="acciones">
  <div class="cont">
    <div class="box simple shadow">
      <div class="title solidBlue ">
        <i class="fas fa-clipboard"></i>
        <h1>Acciones tutoriales</h1>
      </div>
      <div class="boxCont">
        <table mat-table [dataSource]="accionesSource" matSort class="mat-elevation-z8">

          <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visible
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.activo == true ? 'Sí' : 'No'}}
            </td>
          </ng-container>
            <ng-container matColumnDef="obligatorio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Obligatorio
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.obligatorio == true ? 'Sí' : 'No'}}
                </td>
              </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.fecha | date:'shortDate'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.titulo}}
            </td>
          </ng-container>
          <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo
              </th>
              <td mat-cell *matCellDef="let element">
                {{(element.tipo | lowercase) == 'i'? 'Individual' : 'Grupal'}}
              </td>
            </ng-container>
         
        
          <tr mat-header-row *matHeaderRowDef="accionesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: accionesColumns;"></tr>
        </table>
        <div class="paginator">
          <mat-paginator 
          [length]="accionLength"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = mostrarAcciones($event)">
          </mat-paginator>
        </div>
 
      </div>
    </div>
  </div>
</section>


<section class="sesiones">
  <div class="cont">
    <div class="box simple shadow">
      <div class="title solidBlue ">
        <i class="fas fa-clipboard"></i>
        <h1>Sesiones</h1>
      </div>
      <div class="boxCont">
        <table
          mat-table
          [dataSource]="sesionesDataSource"
          matSort
          class="mat-elevation-z8"
        >
        <ng-container matColumnDef="visible">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ¿Pueden verla los tutores?
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.visible" (change)="editarSesion($event, element.id)">
            </mat-checkbox>
           
          </td>
        </ng-container>
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Accion</th>
          <td mat-cell *matCellDef="let element">
            
              {{element.accionTutorial.titulo | titlecase}}
            
          </td>
        </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let element">
              
                {{element.fecha | date:'shortDate'}}
              
            </td>
          </ng-container>
          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
            <td mat-cell *matCellDef="let element">
              
                {{element.fecha | date:'shortTime'}}
              
            </td>
          </ng-container>
          <!--<ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
            <td mat-cell *matCellDef="let element">
              <button class="btn float" (click)="establecerSesion(element.id) ">
                <i class="fas fa-edit"></i>
                  <p>Editar</p>
                </button>
            </td>
          </ng-container>-->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button class="btn float-dark" (click)="eliminarSesion(element.id)">
                <i class="fas fa-trash-alt"></i>
                  <p>Eliminar</p>
                </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="sesionesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: sesionesColumns"></tr>
        </table>

        <div class="paginator">
          <button class="btn float-white" *ngIf="acciones.length > 0" (click)="formAlert = 'sesiones'">
            <i class="fas fa-plus"></i>
            <p>Agregar nueva sesión</p>
          </button>
          <mat-paginator
            [length]="sesionesLength"
            [pageSize]="sesionesPageSize"
            [pageSizeOptions]="sesionesPageSizeOptions"
            (page)="pageEvent = mostrarSesiones($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="sesionesIndividuales">
  <div class="cont">
    <div class="box simple shadow">
      <div class="title solidBlue ">
        <i class="fas fa-clipboard"></i>
        <h1>Sesiones individuales</h1>
      </div>
      <div class="boxCont">
        <table
          mat-table
          [dataSource]="sesionesIndividualesDataSource"
          matSort
          class="mat-elevation-z8"
        >
        <ng-container matColumnDef="visible">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ¿Pueden verla los tutores?
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.visible" (change)="editarSesionIndividual($event, element.id)">
            </mat-checkbox>
           
          </td>
        </ng-container>
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Accion</th>
          <td mat-cell *matCellDef="let element">
            
              {{element.accionTutorial.titulo | titlecase}}
            
          </td>
        </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let element">
              
                {{element.fecha | date:'shortDate'}}
              
            </td>
          </ng-container>
          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
            <td mat-cell *matCellDef="let element">
              
                {{element.fecha | date:'shortTime'}}
              
            </td>
          </ng-container>
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button class="btn float-dark" (click)="eliminarSesionIndividual(element.id)">
                <i class="fas fa-trash-alt"></i>
                  <p>Eliminar</p>
                </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="sesionesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: sesionesColumns"></tr>
        </table>

        <div class="paginator">
          <button class="btn float-white" *ngIf="accionesIndividuales.length > 0" (click)="formAlert = 'sesionesIndividuales'">
            <i class="fas fa-plus"></i>
            <p>Agregar nueva sesión</p>
          </button>
          <mat-paginator
            [length]="sesionesIndividualesLength"
            [pageSize]="sesionesIndividualesPageSize"
            [pageSizeOptions]="sesionesIndividualesPageSizeOptions"
            (page)="pageEvent = mostrarSesionesIndividuales($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="sesionesIndividuales">
  <div class="cont">
    <div class="box simple shadow">
      <div class="title solidBlue ">
        <i class="fas fa-clipboard"></i>
        <h1>Reportes</h1>
      </div>
      <div class="boxCont">
        <button class="btn float-dark" (click)="generarReporteSemestral()">
      
            <p>Generar reporte semestral</p>
          </button>
      </div>
    </div>
  </div>
  </section>

