<div class="cont" [style.fontSize]="value + 'px'">
  <div>
    <h1 class="xd">Font-size: {{ value + "px" }}</h1>
    <mat-slider min="15" max="60" (input)="onInputChange($event)"></mat-slider>
  </div>
  <mat-tab-group>
    <mat-tab label="Botones">
      <div class="box">
        <div class="boxCont">
          <button class="btn float-dark">
            <i class="fas fa-flag"></i>
            <p>float-dark</p>
          </button>
          <br />
          <button class="btn float">
            <i class="fas fa-flag"></i>
            <p>float</p>
          </button>
          <br />
          <button class="btn float-white">
            <i class="fas fa-flag"></i>
            <p>float-white</p>
          </button>
          <br />
          <button class="btn push">
            <i class="fas fa-flag"></i>
            <p>push</p>
          </button>
          <br />
          <button class="btn push-dark">
            <i class="fas fa-flag"></i>
            <p>push-dark</p>
          </button>
          <br />
          <button class="btn push-white">
            <i class="fas fa-flag"></i>
            <p>push-white</p>
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Bloques de texto">
      <div class="box">
        <div class="boxCont">
          <div class="textBox simpleBlack">
            <h1><i class="fas fa-flag"></i>simpleBlack</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox simpleBlue">
            <h1><i class="fas fa-flag"></i>simpleBlue</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox simpleDark">
            <h1><i class="fas fa-flag"></i>simpleDark</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox lineDark">
            <h1><i class="fas fa-flag"></i>lineDark</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox lineBlue">
            <h1><i class="fas fa-flag"></i>lineBlue</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox lineBlack">
            <h1><i class="fas fa-flag"></i>lineBlack</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox dark">
            <h1><i class="fas fa-flag"></i>dark</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox black">
            <h1><i class="fas fa-flag"></i>black</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
          <div class="textBox white">
            <h1><i class="fas fa-flag"></i>white</h1>
            <p>
              La Tutoría se define como: “un proceso de acompañamiento, grupal o
              individual, que le brindan al estudiante profesores-tutores,
              durante su estancia en el Instituto Tecnológico, con el propósito
              de contribuir a su formación integral”.
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Titulos">
      <div class="box">
        <div class="boxCont">
          <div class="title simple">
            <h1>simple</h1>
          </div>
          <br />
          <div class="title leftBlue">
            <i class="fas fa-flag"></i>
            <h1>leftBlue</h1>
          </div>
          <br />
          <div class="title leftDark">
            <i class="fas fa-flag"></i>
            <h1>leftDark</h1>
          </div>
          <br />
          <div class="title lineBlue">
            <i class="fas fa-flag"></i>
            <h1>lineBlue</h1>
          </div>
          <br />
          <div class="title lineDark">
            <i class="fas fa-flag"></i>
            <h1>lineDark</h1>
          </div>
          <br />
          <div class="title solidBlue">
            <i class="fas fa-flag"></i>
            <h1>solidBlue</h1>
          </div>
          <br />
          <div class="title solidDark">
            <i class="fas fa-flag"></i>
            <h1>solidDark</h1>
          </div>
          <br />
          <div class="title idea">
            <p>Idea</p>
            <div class="line">
              <div class="l"></div>
            </div>
          </div>
          <br />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Inputs">
      <div class="box">
        <div class="boxCont">
          <div class="input normal">
            <i class="fas fa-flag"></i>
            <input type="text" placeholder="normalInput" />
          </div>
          <br />
          <div class="input simple">
            <i class="fas fa-flag"></i>
            <input type="text" placeholder="simpleInput" />
          </div>
          <br />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="advice">
      <div class="box">
        <div class="boxCont">
          <div class="advice blue horizontal">
            <i class="fas fa-flag"></i>
            <div class="info">
              <h1>100</h1>
              <p>Horizontal</p>
            </div>
          </div>
          <br />
          <div class="advice blue vertical">
            <i class="fas fa-flag"></i>
            <div class="info">
              <h1>100</h1>
              <p>Vertical</p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="boxes">
      <div class="box">
        <div class="boxCont">
          <div class="box simple shadow">
            <div class="title solidBlue ">
              <i class="fas fa-flag"></i>
              <h1>box simple shadow</h1>
            </div>
            <div class="boxCont">
              <p>This is a simple box</p>
            </div>
          </div>
        </div>
      </div>
      

      <div class="box">
        <div class="boxCont">
          <div class="box idea">
            <div class="title idea">
              <p>Idea</p>
              <div class="line">
                <div class="l"></div>
              </div>
            </div>
            <div class="boxCont">
              <p>This is a simple box</p>
            </div>
            
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Alertas">
      <div class="formAlert" *ngIf="formAlert" >
        <div class="cont">
            <div class="exit" (click)="formAlert = false">
                <i class="fas fa-times"></i>
             </div>
          <h1>Esto es un FormAlert</h1>
          <h2>xd</h2>
        </div>
      </div>
      <div class="box">
        <button class="btn float" (click)="formAlert = true">
          <i class="fas fa-flag"></i>
          <p>FormAlert</p>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
