<section class='personales'>
        <div class="cont">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                        <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del empleado</th>
                                <td mat-cell *matCellDef="let element">
                                        <a [routerLink]="['/panel/personales', element.id]">
                                                {{element.usuario.nombreCompleto | titlecase}}
                                        </a>
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="cargo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo que emplea</th>
                                <td mat-cell *matCellDef="let element">
                                        {{ element.cargo == 'A' ? 'Administrador' : ''}}
                                        {{ element.cargo == 'J' ? 'Jefe de tutorias' : ''}}
                                        {{ element.cargo == 'D' ? 'Jefe de departamento' : ''}}
                                        {{ element.cargo == 'C' ? 'Coordinador' : ''}}
                                        {{ element.cargo == 'T' ? 'Tutor' : ''}}
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="departamento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento </th>
                                <td mat-cell *matCellDef="let element"> {{element.departamento.titulo | titlecase}}
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="tutorados">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de tutorados </th>
                                <td mat-cell *matCellDef="let element"> {{element.tutorados}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        </div>
</section>
<section>
        <div class="cont">
                <mat-paginator [length]="100" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = mostrarPersonales($event)">

                </mat-paginator>

        </div>
</section>