<section class="welcome">
        <div class="baner welcome shadow">
                <h1>¡Bienvenid@ al sistema de tutorías!</h1>
                <p>Obten todo lo que necesitas</p>
        </div>

</section>
<section class="info">
        <div class="box simple shadow">
                <div class="title solidBlue ">
                        <i class="fas fa-flag"></i>
                        <h1>¡Bienvenid@ al sistema de tutorías!</h1>
                </div>
                <div class="boxCont">
                        <p>Bienvenidos al programa de tutorías en plataforma electrónica del Instituto Tecnológico de
                                Nuevo Laredo que tiene como finalidad general formalizar y generar un contacto
                                permanente y formal entre tutor y el alumno a través de actividades, en donde el punto
                                central es la orientación hacia los objetivos y las metas a lograr por éste último,
                                quedando claramente definida la responsabilidad compartida entre el tutor y el alumno
                                para alcanzar los fines educativos.</p>
                </div>
        </div>
</section>