<section class="filtrado">
  <div class="cont">
    <!--
    <mat-form-field >
      <mat-label>Haz click para seleccionar el tipo de busqueda</mat-label>
      <select matNativeControl [(ngModel)]="tipoBusqueda" >
          <option value="control">Buscar por número de control</option>
          <option value="carrera">Buscar por carrera</option>
        </select>
      
    </mat-form-field>
    <div class="numeroDeControl" *ngIf="tipoBusqueda == 'control'">
        
    </div>-->
    <div class="input normal">
        <i class="fas fa-flag"></i>
        <input type="text" placeholder="Introduce el número de control aquí"  [(ngModel)]="numeroDeControl" />
      </div>
      <button class="btn float" style="margin-top: 20px;" [routerLink]="['/panel/estudiantes', numeroDeControl]">
          <i class="fas fa-flag"></i>
          <p>BUSCAR</p>
        </button>
  </div>
</section>

<section class="result">
  <div class="cont">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="numeroDeControl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Número de control
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.numeroDeControl }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre completo
        </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/panel/estudiantes', element.numeroDeControl]">
            {{ element.usuario.nombreCompleto | titlecase }}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="semestre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Semestre</th>
        <td mat-cell *matCellDef="let element">
          {{ element.semestre }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sesiones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sesiones</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sesiones }}
        </td>
      </ng-container>
      <ng-container matColumnDef="creditos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creditos</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cantidadDeCreditos }}
        </td>
      </ng-container>
      <ng-container matColumnDef="tutor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tutor</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.grupo.tutor == null || element.grupo.tutor == ""
              ? "Sin asignar"
              : element.grupo.tutor.usuario.nombreCompleto
          }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
<section>
  <div class="cont">
    <mat-paginator
      [length]="100"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = mostrarEstudiantes($event)"
    >
    </mat-paginator>
  </div>
</section>
