//    COLORS    

$fontColor : #707070
$blackColor : #333333
$darkColor : #113F67
$mainColor : #34699A
$auxiliarColor : #408AB4
$auxiliarColor2 : #65C6C4
$bgColor : white 
$bgColor2 : #F6F6F6
$bgColor3 : #F0F0F0
$shadow: 0px 0px 10px #0000001a


//    FONTS    
 
$font :  'Nunito Sans', sans-serif
        

//    MEDIA CONFIG 
$panel-min: 1550px
$min-width: 1200px  
$laptop-width: 1200px
$tablet-width: 800px
$movil-width: 400px


// MATERIAL
@import '~@angular/material/theming'



@include mat-core()

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo)
$candy-app-accent:  mat-palette($mat-light-blue, A200, A100, A400)

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-blue)

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn)

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme)





.loader
    position: fixed
    left: 0px
    top: 0px
    width: 100%
    z-index: 5000
    height: 100%
    background: #113f67eb
    display: flex
    justify-content: center
    align-items: center
    .img
        position: absolute
        width: 400px
        height: 400px
        background: url(/assets/img/logoWhite.svg) center /400px no-repeat
    .lds-dual-ring 
        display: inline-block
        width: 400px
        height: 400px
        &:after 
            content: " "
            display: block
            width: 100%
            height: 100%
            margin: 1px
            border-radius: 50%
            border: 5px solid #fff
            border-color: #fff transparent #fff transparent
            animation: lds-dual-ring 1.2s linear infinite
       
@keyframes lds-dual-ring 
    0% 
        transform: rotate(0deg)

    100% 
        transform: rotate(360deg)
 


a
    color: $blackColor
    text-decoration: none
    &:hover
        color: $mainColor
        cursor: pointer

input, button
    &:focus
        outline-width: 0
        outline: none

@mixin panel
    @media (max-width: #{$panel-min}) 
        @content
@mixin laptop
    @media (max-width: #{$laptop-width}) 
        @content

@mixin tablet
    @media (max-width: #{$tablet-width}) 
        @content

@mixin movil
    @media (max-width: #{$movil-width}) 
        @content


//    GENERAL STYLES    

*
    margin:0px
    padding:0px
    font-family: $font
    //user-select: none
html
    overflow-x: hidden
body
    background: $bgColor
.cont
    width: 100%
    height: 100%
    max-width: 1200px   
    @include laptop
        max-width: #{$tablet-width}
    @include tablet
        max-width: 100%
        padding:0px 20px
    @include movil
        

//Alertas
.formAlert
    z-index: 120
    position: fixed
    left:  0
    top: 0
    display: flex
    justify-content: center
    align-items: center
    background: #113f67eb
    width:100%
    height: 100%
    .cont
        position: relative
        z-index: 130
        background: white
        width: auto
        height: auto
        padding: 15px
        display: grid
        grid-column: 1fr
        grid-row-gap: 15px
        .exit
            border-radius: 50%
            font-size: 30px
            cursor: pointer
            position: absolute
            right: -25px
            top: -25px
            width: 50px
            height: 50px
            background: red
            color: white
            font-weight: bold
            display: flex
            justify-content: center
            align-items: center
        form
            display: grid
            grid-template-columns: 1fr
            grid-row-gap: 15px

            

                
        

//Botones

.btn
    font-size: 1em
    box-sizing: border-box
    border-radius: 5px
    font-family: $font
    font-weight: bold
    font-weight: bold
    cursor: pointer
    position: relative
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    padding: 0.6em 1.3em
    transition: 0.2s background
    i
        margin-right: 10px
    &.float
        background: $mainColor
        p
            color: white
            font-weight: bold
        i
            color: white
        border: 0px
        &:hover
            background: lighten($mainColor, 5%)
    &.float-dark
        background: $darkColor
        p
            color: white
            font-weight: bold
        i
            color: white
        border: 0px
        &:hover
            background: lighten($darkColor, 5%)
    &.float-white
        background: white
        p
            color: $darkColor
            font-weight: bold
        i
            color: $darkColor
        border: 2px solid $darkColor
        transition:0.2s background
         
    &.push
        background: $mainColor
        border-bottom: 10px solid $darkColor
        border-top: 0px
        border-left: 0px
        border-right:0px
        p
            color: white
            font-weight: bold
        i
            color: white
        &:hover
            margin-top: 3px !important
            border-bottom: 7px solid $darkColor
    &.push-dark   
        background: $darkColor
        border-bottom: 10px solid $auxiliarColor
        border-top: 0px
        border-left: 0px
        border-right:0px
        p
            color: white
            font-weight: bold
        i
            color: white
        &:hover
            margin-top: 3px !important
            border-bottom: 7px solid $auxiliarColor
    
    &.push-white
        background: white
        border-bottom: 10px solid $darkColor
        border-top: 2px solid $darkColor
        border-left: 2px solid $darkColor
        border-right:2px solid $darkColor
        p
            color: $darkColor
            font-weight: bold
        i
            color: $darkColor
        
        &:hover
            margin-top: 3px !important
            border-bottom: 7px solid $darkColor

.textBox
    padding: 20px  0px 
    box-sizing: border-box
    font-size: 1em
    line-height: 1.7em
    letter-spacing: .2pt
    h1
        font-size: 1em
        font-weight: 500
    i
        padding-right: 20px
        padding-right: .4em
        font-weight: 800
    p
        font-size: .8em
        color: $fontColor
        text-align: justify
        font-weight: 300
        line-height: 1.5em
        margin-top: 0.6em
    &.dark
        padding: 2em
        background: $darkColor
        h1
            color: $auxiliarColor2
            margin-top: -10px
        p
            color: white
    &.blue
        padding: 2em
        background: $mainColor
        h1
            color: white
            margin-top: -10px
        p
            color: white
    &.white
        padding: 2em
        background: white
        h1
            color: $mainColor
            margin-top: -10px
        p
            color: $fontColor
    &.black
        padding: 2em
        background: $blackColor
        h1
            color: $auxiliarColor2
            margin-top: -10px
        p
            color: white
    &.simpleWhite
        color: white
        p
            color: white
    &.simpleBlue
        color: $mainColor
    &.simpleDark
        color: $darkColor
    &.simpleBlack
        color: $blackColor
    &.lineBlue
        padding: 1.4em
        background: white
        border-left: .4em solid $mainColor
        h1
            color: $mainColor

    &.lineDark
        padding: 1.4em
        background: white
        border-left: .4em solid $darkColor
        h1
            color: $darkColor
 
    &.lineBlack
        padding: 1.4em
        background: white
        border-left: .4em solid $blackColor
        h1
            color: $blackColor
  
        

.input
    &.normal
        display: flex
        font-size: 1em
        cursor:  pointer
        overflow: hidden
        border-radius: 5px
        border: 1px solid #ccc
        i
            color: white
            background: $mainColor
            height: 100%
            padding: .8em
            display: flex
            justify-content: center
            align-items: center
            font-size: 1em
            box-sizing: border-box
        input
            border: 0px
            padding-left: .8em
            font-size: 1em
            width: 100%
    &.simple
        display: flex
        font-size: 1em
        cursor:  pointer
        overflow: hidden
        border-radius: 5px
        border: 1px solid #ccc
        i
            color: $blackColor
            height: 100%
            padding: .8em
            display: flex
            justify-content: center
            align-items: center
            font-size: 1em
        input
            border: 0px
            padding-left: 0px
            font-size: 1em
            width: 100%
     



.title
    font-size: 1em
    color: $blackColor
    display: flex
    letter-spacing: 0.12em
    i, h1
        font-size: 1em
        font-weight: 900
    &.leftBlue
        border-left: .2em solid $mainColor
        padding-left: .2em
        i
            padding-right: .5em
    &.leftDark
        border-left: .2em solid $darkColor
        padding-left: .2em
        i
            padding-right: .5em
    &.lineBlue
        border-bottom: .2em solid $mainColor
        padding-bottom: .2em
        justify-content: center
        i
            padding-right: .5em
    &.lineDark
        border-bottom: .2em solid $darkColor
        padding-bottom: .2em
        justify-content: center
        i
            padding-right: .5em
    &.solidBlue
        align-items: center
        background: $mainColor
        i
            padding: 1em
            color: white
            background: $darkColor
        h1
            padding-left: 1em
            color: white
    &.solidDark
        align-items: center
        background: $darkColor
        i
            padding: 1em
            color: white
            background: $mainColor
        h1
            padding-left: 1em
            color: white

    &.simple
        i
            padding-right: 0.5em
    &.idea
        display: flex
        p
            font-size: 1em
            width: auto
            padding-right: 1em
            color: $fontColor
        .line
            width:100%
            display: flex
            justify-content: center
            align-items: center
            .l
                width: 100%
                height: 2px
                background: #f2f2f2

        
.hideOnInit
    visibility: hidden
.animated
    visibility: visible !important


.advice
    font-size: 1em
    display: flex
    justify-content: center
    align-items: center
    color: white
    padding: 1em
    
    i
        font-size: 2em
    .info
        font-size: 1em
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        h1
            font-size: 1em
            font-weight: 900
        p
            font-size: .8em
            font-weight: 300
    &.blue
        background: $mainColor
    &.horizontal
        flex-direction: row
        .info
            padding-left: 1em
    &.vertical
        flex-direction: column
        .info
            padding-top: 1em
          

.shadow
    box-shadow: $shadow

.box
    .boxCont
       padding: .8em
       background: white
       font-size: .85em
    p
        line-height: 1.5em
        
        
        


.baner
    width: 100%
    background: $mainColor
    color: white

.paginator
    display: flex
    justify-content: space-between
    align-items: center