<section class="profileContent">
        <header>
                <div class="box">
                        <div class="boxCont">
                                <div class="profCont">
                                        <div class="profImg">

                                        </div>
                                        <h1>
                                                {{ miEstudiante.nombreCompleto | titlecase  }}
                                        </h1>
                                </div>
                        </div>

                </div>
        </header>

        <section class="advices">
                <div class="advice blue horizontal">
                        <i class="fas fa-trophy"></i>
                        <div class="info">
                                <h1> {{ miEstudiante.creditos   }}</h1>
                                <p>Créditos</p>
                        </div>
                </div>
                <div class="advice blue horizontal">
                        <i class="fas fa-clipboard-check"></i>
                        <div class="info">
                                <h1> {{ miEstudiante.sesiones  }}</h1>
                                <p>Sesiones</p>
                        </div>
                </div>
                <div class="advice blue horizontal">
                        <i class="fas fa-graduation-cap"></i>
                        <div class="info">
                                <h1> {{ miEstudiante.semestre   }}</h1>
                                <p>Semestre</p>
                        </div>
                </div>
                <div class="advice blue horizontal">
                        <i class="fas fa-exclamation-circle"></i>
                        <div class="info">
                                <h1> {{ miEstudiante.canalizaciones   }}</h1>
                                <p>Canalizaciones</p>
                        </div>
                </div>
        </section>
        
        <div class="box simple shadow">
                <div class="title solidBlue ">
                        <i class="fas fa-flag"></i>
                        <h1>Acciones</h1>
                </div>
                <div class="boxCont">
                        <button class="btn float-dark" (click)="asignarGrupo()">
                                <i class="fas fa-flag"></i>
                                <p>Asignar grupo</p>
                        </button>
                        <br>
                        <button class="btn float">
                                <i class="fas fa-flag"></i>
                                <p>Canalizar</p>
                        </button>
                </div>
        </div>

</section>